[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "magicrect"]
	path = magicrect
	url = https://github.com/arijitray2/magic-rectangles
